<h2>Add New Book</h2>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <label for="isbn">ISBN:</label>
  <input id="isbn" formControlName="isbn"><br>

  <label for="title">Title:</label>
  <input id="title" formControlName="title"><br>

  <label for="author">Author:</label>
  <input id="author" formControlName="author"><br>

  <label for="publicationYear">Publication Year:</label>
  <input id="publicationYear" formControlName="publicationYear" type="number"><br>

  <button type="submit">Add Book</button>
</form>

<div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
<div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
